<!DOCTYPE html>
<html>
<head>
	<title>Internal CSS Example</title>
<style>
	h1{
		color: white;
		background-color: blue;
		padding: 20;
		font-size: 20px;
		font-style: italic;
		text-align: center;
		margin-top: 5px
		margin-left: 5px; 
		margin-right: 5px;
		border: dashed; 
		border-right: solid;
	}
	body{
		background-color: #89BEE9;
	}
	p{
		padding: 20;
		color: black;
		font-size: 20px;
		font-style: italic;
		margin-top: 5px
		margin-left: 5px; 
		margin-right: 5px;

	}
</style>
</head>
<body>
	<h1>Internal CSS</h1>
	<p>Styling elements in html page</p>
</body>
</html>