<!DOCTYPE html>
<html>
<head>
	<title>smaple html</title>
</head>
<body bgcolor="#5AEBF1">
	<center>
		<h1>This is example of html</h1>
	</center>
	<p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites.</p>

	<h3 style="background-color: #F098F5; font-size: 20px; margin-left: 5px; margin-right: 5px; font-style: italic; border: dashed; border-right: solid; text-align: center; margin-top: 5px"> web development with python using Django</h3>
</body>
</html>